body{
	background: url("/img/bg-login-phone.png") no-repeat 0 0 transparent;
	background-size:100% auto; 
}

html,body {
	height: 100%;
	width: 100%;
}

.name {
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 40px;
}

.synchronize {
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}

.age {
	margin-top: 10px;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.2);
	color: grey;
}

#header-image {
	text-align: center;
}

#header-image img{
	margin-left: 15px;
}

#receive-shop-page {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.brands {
	padding: 0;
	position: relative;
}

.open-slide {
	display: none;
}

#list-footer {
	position: fixed;
	bottom: 0;
}

#infos-brands {
	background: url("/img/bg-brands-list.png") no-repeat 0 0 transparent;
	background-size:100% auto;
	height: 448px;
	text-align: center;
    padding-top: 40px;
}

.check-in-text {
	padding-top: 10px;
}

.check-in-no, .final-promo-img{
	padding-top: 40px;
	display: none;
}
.brands-promo-img {
	opacity: 0.3;
}
.complete {
	display: none !important;
}
.clock-icon {
	margin-top: 20px;
	display: none;
	width: 66px;
	margin: 0 auto;
}
.final-promo-text {
	display: none;
	padding-top: 10px;
}
.star {
	position: absolute;
	top: 25px;
	right: 10px;
}

.btn-data {
	font-size: 20px;
	padding: 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: white;
	border: 1px solid white;
	text-align: center;
	margin-top: 160px;
}
#list-brands-page {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 2;
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	-moz-transform: translate3d(0, -100%, 0);
	-webkit-transform: translate3d(0, -100%, 0);
	-o-transform: translate3d(0, -100%, 0);
	-ms-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
#list-brands-page.move {
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}