body{
	background: url("/img/bg-login-phone.png") no-repeat 0 0 transparent;
	background-size:100% auto; 
}

.name {
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 40px;
}

.synchronize {
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}

.age {
	margin-top: 10px;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.2);
	color: grey;
}

#header-image {
	text-align: center;
}

#header-image img{
	margin-left: 15px;
}

#login-home {
	display: none;
}
#list-brands-page{
}
#receive-shop-page {
	display: none;
}

.brands {
	padding: 0;
}

.open-slide {
	display: none;
}

#list-footer {
	position: fixed;
	bottom: 0;
}

#infos-brands {
	background: url("/img/bg-brands-list.png") no-repeat 0 0 transparent;
	background-size:100% auto;
	height: 448px;
	text-align: center;
    padding-top: 40px;
}

.check-in-text {
	padding-top: 10px;
}

.check-in-no {
	padding-top: 40px;
	display: none;
}
.brands-promo-img {
	opacity: 0.3;
}