*{
	-webkit-user-select:none;
}

html,
body{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body{
	background: url("/img/bg-shop.jpg") no-repeat 0 0 transparent;
	background-size:100% auto; 
}
body.select{
	background: url("/img/bg.jpg") no-repeat 0 0 transparent;
	background-size:100% auto; 
}
#title{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-moz-transform: translate3d(0, 50%, 0);
	-webkit-transform: translate3d(0, 50%, 0);
	-o-transform: translate3d(0, 50%, 0);
	-ms-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	text-align: center;
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	margin: 0;
	opacity:1;
}
#title img{
	width: 100px;
}
#title.up{
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#title.fade{
	opacity:0;
}

/* wrapper */
#wrapper-life ul{
	height: 665px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch
}
#wrapper-life ul,
#wrapper-life ,
#wrapper{
	display:none;
}

#wrapper-life{
	margin-top:10%;
}

#wrapper-life li{
	padding: 40px 25px;
}

#wrapper-life li.clearfix{
	clear:both;
	padding:0;
}

#wrapper-life div{
	width: 100%;
	padding: 0 25px;
}

#wrapper-life a{
	color:#FFF;
	text-decoration:none;
	width: 80%;
}
#wrapper-life span{
	background: url('/img/sprite-icon.jpg') no-repeat 0 50% transparent;
	display:inline-block;
	width:26px;
	height:100%;
}

ul,
ul li{
	list-style: none;
}
.list-shop li{
	margin-bottom:30px;
	position: relative;
}
.list-shop li img:first-child{
	width: 100%;
}
.star{
	position: absolute;
	bottom:3px;
	right:25px;
}
li.draggable{
	position: absolute;
	margin-left: -106px;
	margin-top: -76px;
	z-index: 1000;
}
li.draggable .star{
	right:3px;
}
/* text */

body.select .text-important{
	color: #FFF;
	font-size: 24px;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}
.text-important,
.text-important.black{
	color: #000;
	text-shadow: 1px 1px 1px #000;
}

/* phone */
.phone{
	padding-left: 50px;
}
.phone-wrapper{
	position: relative;
}
.phone-wrapper img{
	position: absolute;
	z-index: 1200;
}
.phone-wrapper img:first-child{
	z-index: 50;
}
.selected-wrapper{
	position: absolute;
	height: 306px;
	width: 180px;
	left: 13px;
	top: 57px;
	overflow-x:hidden;
	z-index: 500;
}
.selected{
	height: 100%;
	width: 100%;
	overflow-x:hidden;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;

	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
	-ms-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
	-moz-transform: translate3d(0, 0%, 0);
	-webkit-transform: translate3d(0, 0%, 0);
	-o-transform: translate3d(0, 0%, 0);
	-ms-transform: translate3d(0, 0%, 0);
	transform: translate3d(0, 0%, 0);
}
.selected.move{
	transition: all 1s ease-in-out;
	-moz-transform: translate3d(0, 500%, 0);
	-webkit-transform: translate3d(0, 500%, 0);
	-o-transform: translate3d(0, 500%, 0);
	-ms-transform: translate3d(0, 500%, 0);
	transform: translate3d(0, 500%, 0);
}
.selected .item{
	padding:15px 0;
	color: #FFF;
	border-bottom:1px solid #FFF;
	background: url("/img/bg-brands-list.png") no-repeat 0 0 transparent;
	background-size: 100% auto;
}
.selected .item img{
	width: 100%;
}

/* Button*/

.turquoise,
.orange,
.green,
.pink,
.violet,
.bleu{
	display:table;
	height:54px;
	font-size:14px;
	text-transform:uppercase;
}
.turquoise a,
.orange a,
.green a,
.pink a,
.violet a,
.bleu a{
	width:100%;
	display: table-cell;
	vertical-align: middle;
}
.turquoise{
	background: #20b8af;
	border-bottom:6px solid #16807a;
}
.orange{
	background: #fd9c1f;
	border-bottom:6px solid #b16d16;
}
.green{
	background: #60d12f;
	border-bottom:6px solid #439221;
}
.pink{
	background: #ff6766;
	border-bottom:6px solid #ff4847;
}
.violet{
	background: #e866fb;
	border-bottom:6px solid #a247af;
}
.bleu{
	background: #6144f7;
	border-bottom:6px solid #442fac;
}

#wrapper-life .orange span{
	background-position: -26px 50%;
}
#wrapper-life .green span{
	background-position: -52px 50%;
}
#wrapper-life .pink span{
	background-position: -78px 50%;
}
#wrapper-life .violet span{
	background-position: -104px 50%;
}
#wrapper-life .bleu span{
	background-position: -130px 50%;
}
