doctype
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
 
    title
 
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1; minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='yes')

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://192.168.1.9:3000/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery.js')
    //script(src='/js/jquery-ui.min.js')
    //script(src='/js/jquery.ui.touch-punch.min.js')
    //script(src='/js/interact.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/script.js')
 
  body
    h1#title.text-important bienvenu #{name}
    
    //select life instant
    div#wrapper-life
      ul.row
        li.col-sm-4
          div.turquoise
            span
            a(href="#", data-personna="#") Etoffer ma garde robe
        li.col-sm-4
          div.turquoise
            span
            a(href="#", data-personna="#") M'habiller pour une grande occasion
        li.col-sm-4
          div.turquoise
            span
            a(href="#", data-personna="#") M'habiller pour le travail

        li.col-sm-4
          div.turquoise
            span
            a(href="#", data-personna="#") M'habiller relax
        li.col-sm-4
          div.orange
            span
            a(href="#", data-personna="#") Faire du sport
        li.col-sm-4
          div.green
            span
            a(href="#", data-personna="#") Me cultiver

        li.col-sm-4
          div.green
            span
            a(href="#", data-personna="#") M'équiper pour la rentrée des classes
        li.col-sm-4
          div.pink
            span
            a(href="#", data-personna="#") ORGANISER UNE FÊTE
        li.col-sm-4
          div.violet
            span
            a(href="#", data-personna="#") Equiper ma maison

        li.col-sm-4
          div.violet
            span
            a(href="#", data-personna="#") Décorer chez moi
        li.col-sm-4
          div.bleu
            span
            a(href="#", data-personna="#") Partir au soleil
        li.col-sm-4
          div.bleu
            span
            a(href="#", data-personna="#") Partir a la montagne

        // autres exemple

        li.col-sm-4
          div.violet
            span
            a(href="#", data-personna="#") example
        li.col-sm-4
          div.bleu
            span
            a(href="#", data-personna="#") example
        li.col-sm-4
          div.bleu
            span
            a(href="#", data-personna="#") example

        li.col-sm-4
          div.violet
            span
            a(href="#", data-personna="#") example
        li.col-sm-4
          div.bleu
            span
            a(href="#", data-personna="#") example
        li.col-sm-4
          div.bleu
            span
            a(href="#", data-personna="#") example

        li.col-sm-4
          div.violet
            span
            a(href="#", data-personna="#") example
        li.col-sm-4
          div.bleu
            span
            a(href="#", data-personna="#") example
        li.col-sm-4
          div.bleu
            span
            a(href="#", data-personna="#") example

        li.clearfix

    // select shop screen
    div#wrapper
      div.shop.row
        div.col-sm-8
          p.text-important.choose-shop Sélectionner vos enseignes
          ul.row.list-shop
            li.col-sm-4(data-shop='shop1')
              img(src='/img/shop/shop-1.jpg')
              img.star(src='/img/star.png')
            li.col-sm-4(data-shop='shop2')
              img(src='/img/shop/shop-1.jpg')
            li.col-sm-4(data-shop='shop3')
              img(src='/img/shop/shop-1.jpg')
            li.col-sm-4(data-shop='shop4')
              img(src='/img/shop/shop-1.jpg')
            li.col-sm-4(data-shop='shop5')
              img(src='/img/shop/shop-1.jpg')
            li.col-sm-4(data-shop='shop6')
              img(src='/img/shop/shop-1.jpg')
            li.col-sm-4(data-shop='shop7')
              img(src='/img/shop/shop-1.jpg')
            li.col-sm-4(data-shop='shop8')
              img(src='/img/shop/shop-1.jpg')
            li.col-sm-4(data-shop='shop9')
              img(src='/img/shop/shop-1.jpg')
        div.col-sm-3.col-sm-offset-1
          p.text-important.download Télécharger votre parcours
          div.phone-wrapper
            img(src='/img/bg-phone.png')
            div.selected
            img(src='/img/phone.png')
      div.desc.row
        div.col-sm-9
        div.col-sm-3
          p.text-important.black Conseils shopping :
